<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News API</title>
    <link rel="stylesheet" href="Views/css/header.css">
    <link rel="stylesheet" href="Views/css/search.css">
    <link rel="stylesheet" href="Views/css/style.css">
</head>
<body>
<header>
    <nav>
        <div class="country">
            <div class="selected">
                <div>
                    <ul>
                        <li>
                            <a class="us" href="/?country=us"></a>
                        </li>
                        <li>
                            <a class="ua " href="/?country=ua"></a>
                        </li>
                        <li>
                            <a class="ca" href="/?country=ca"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <form style="text-align: right;" action="/search" method="get">
        <input class="main-search" type="text" name="search" placeholder="Search topic" style="width: 315px">
        <br>
        <input class="from" type="date" name="from" placeholder="FROM">
        <pspan>-</pspan>
        <input class="to" type="date" name="to" placeholder="TO">
        <br>
        <button type="submit">Search</button>
    </form>
    <hr>
</header>