
<link rel="stylesheet" href="Views/style.css">
<div class="article-container" >
{% for article in articles %}
    <div class="article">
            <img src={{ article.getImageLink()}} >
            <h2 class="headline">{{ article.getTitle()}}</h2>
    </div>
{% endfor %}
</div>