<nav>
<div class="country">
  <div class="selected">
      English
      <div>
          <ul>
              <li>
                  <a class="us" href="/?country=us">
                      United States
                  </a>
              </li>

              <li>
                  <a class="ua " href="/?country=ua">
                      Ukraine
                  </a>
              </li>
              <li>
                  <a class="ca" href="/?country=ca">
                      Canada
                  </a>
              </li>
          </ul>
      </div>

  </div>
</div>

</nav>







<link rel="stylesheet" href="Views/style.css">
<div class="article-container" >
{% for article in articles %}
    <div class="article">
        <a href={{ article.getNewsLink() }}>
            <img src={{ article.getImageLink()}} >
            <h2 class="headline">{{ article.getTitle()}}</h2>
        </a>
    </div>
{% endfor %}
</div>