{% include "/header.twig" %}

<div class="article-container" >
    {% for article in searchedArticles %}
        <div class="article">
            <a href="{{ article.getNewsLink() }}" target="_blank">
                <img src={{ article.getImageLink()}} >
                <h2 class="headline">{{ article.getTitle()}}</h2>
                <p>{{ article.getPublishedAt() }}</p>
            </a>
        </div>
    {% endfor %}
</div>

</body>
</html>