.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article {
    flex-basis: 20%;
    margin: 10px;
}

.article img {
    width: 100%;
    height: auto;
}

.article h2 {
    font-size: 24px;
    margin-top: 10px;
}

select option img {
    width: auto;
    height: auto;
    margin-right: 10px;
}

nav {
display: flex;
    justify-content: space-between;
}
.selected{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height: 2;
}
.selected:before{
    content: "";
    display: block;
    width: 64px;
    height: 34px;
    background-image: url("../Views/Flags/us.png ");

}
.country ul{
    border: 1px solid floralwhite;
    display: none;

}
.country:hover ul{
    display: block;
}
.country{
    position: relative;
}

.us:before{
    content: "";
    display: block;
    width: 64px;
    height: 34px;
    background-image: url("../Views/Flags/us.png ");
}

.ua:before{
    background-image: url("../Views/Flags/ua.png ");
}
.ca:before {
    background-image: url("../Views/Flags/ca.png ");
}

